<h1><%= @band.name %></h1>
<%= button_to "Add Album", new_band_album_url(@band), method: 'get' %>
<section class="band-container">
  <% @band.albums.each do |album| %>
    <section class="band-box">
        <h2><%= album.title %></h2>
        <section class="band-info">
          Year: <%= album.year %>
          <br>
          Genre: <%= album.genre %>
        </section>

      </ul>
    </section>
  <% end %>
</section>
